/* body{
    background-color: red;
} */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 20px;
}

#home {
    /* flex-direction: column; */
    height: 277px;
    padding: 3px 20px;
}

#home::before {
    height: 400px;
}

#home p {
    font-size: 10px;
}

.h-primary {
    font-size: 20px;
}

#services {
    flex-direction: column;
}

#services .box img {
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 30px;
    padding: 2px 5px;
}

#client-section::before {
    content: "";
    position: absolute;
    background-image: url('../img/food_bcc.jpg');
    width: 100%;
    height: 24%;
    z-index: -1;
    opacity: 0.5;
}

#contact-box form {
    width: 50%;
}
#contact {
    position: relative;
    margin-top: 5px;
}
#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/contact.jpg');
    z-index: -1;
    opacity: 0.5;
}


#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

#contact-box label{
    font-size: 1rem;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.2rem;
    border-radius: 10px;
    font-size: 1rem;
}


.btn {
    font-size: 10px;
    padding: 4px 8px;
}

footer{
    background-color: black;
    color: white;
    padding: 3px 10px;
    margin: 5px 0px;
}